<div class>
    <div class="header header-big background-pic">
        <div class="title title-small invisible" gorilla-click="resetAll">Vanilla<br>Bookstore</div>
        <div class="title title-big">Vanilla Bookstore</div>
        <%= searchBox %>
    </div>
    <div class="content invisible">
        <div class="content-wrapper">
            <%= setting %>
            <%= results %>
        </div>
    </div>
</div>
