<div class>
    <div class="header header-big black">
        <div class="title title-small invisible" gorilla-click="resetAll">Vanilla<br>Bookstore</div>
        <div class="title title-big">Vanilla Bookstore</div>
        <%= searchbox %>
    </div>
    <div class="content invisible">
        <div class="contentWrapper">
            <%= setting %>
            <%= results %>
            <%= loadMore %>
        </div>
    </div>
</div>
