<div class="arrow arrow-list invisible-effect" gorilla-click="returnToTop">
    <div class="arrow-wrapper">
        <div class="top">TOP!</div>
        <i class="fas fa-angle-double-up fa-arrow pointer"></i>
    </div>
</div>