<div class="loadMore">
    <div>
        <span><%= bookInfo.length %></span>
        <span>/</span>
        <span><%= bookdata.total %></span>
    </div>
    <div gorilla-click="loadMoreInfo">load more</div>
</div>
