<div class="searchbox">
    <div class='inputWrapper'>
        <input type="text" maxlength="20" autofocus class="inputBox" gorilla-keydown="search" value="바다">
    </div>
    <div class="keyword-alert invisible-effect invisible">한 글자 이상 입력하세요</div>
</div>