<div class="searchBox">
    <div class="input-wrapper">
        <input type="text" maxlength="20" autofocus class="inputBox" gorilla-keydown="search">
    </div>
    <div class="keyword-alert invisible">한 글자 이상 입력하세요</div>
</div>
