<div class="setting">
    <span class="pointer selected" gorilla-click="sortBySim">유사도순</span>
    <span> | </span>
    <span class="pointer" gorilla-click="sortByPubDate">출간일순</span>
    <span> | </span>
    <span class="pointer" gorilla-click="sortBySales">판매도순</span>
    <i class="fas fa-bars type pointer selected" gorilla-click="showListType"></i>
    <i class="fas fa-th type pointer" gorilla-click="showCardType"></i>
</div>
