<div class="setting">
    <span class="pointer">유사도순</span>
    <span> | </span>
    <span class="pointer">출간일순</span>
    <span> | </span>
    <span class="pointer">판매도순</span>
    <i class="fas fa-bars pointer selected" gorilla-click="showListType"></i>
    <i class="fas fa-th pointer" gorilla-click="showCardType"></i>
</div>

