<div class="setting">
    <span >유사도순</span>
    <span> | </span>
    <span>출간일순</span>
    <span> | </span>
    <span>판매도순</span>
    <i class="fas fa-bars"></i>
    <i class="fas fa-th" gorilla-click="showCardType"></i>
</div>

