// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
$point: #db5959;
$pic: 'https://images.unsplash.com/photo-1499257398700-43669759a540?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80';

html, body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Serif KR', serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: height .4s ease-in;
    &-big {
        flex-direction: column;
        height: 100vh;
    }
    &-small {
        height: 20vh;
    }
}

.background-pic {
    background: url($pic) center center fixed;
    background-size: cover;
}

.title {
    color: #fff;
    font-family: 'Lobster', cursive;
    &-big {
        margin-bottom: 20px;
        font-size: 60px;
        text-shadow: 2px 3px 10px rgba(0, 0, 0, .5);
    }
    &-small {
        margin-right: 20px;
        text-align: center;
        font-size: 30px;
        line-height: 25px;
        cursor: pointer;
        &:hover {
            animation: jump .2s ease-in-out;
        }
    }
}

@keyframes jump {
    0% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}

.searchBox {
    height: 66px;
    .input-wrapper {
        width: 550px;
        padding: 12px;
        border-radius: 40px;
        background-color: #fff;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, .5);
        .inputBox {
            width: 500px;
            outline: none;
            border: 0;
            text-align: center;
            font: {
                family: 'Noto Serif KR', serif;
                size: 28px;
            };
        }
    }
}

.keyword-alert {
    text-align: center;
    color: $point;
    transform: translateY(-45px);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-wrapper {
        display: flex;
        flex-direction: column;
        width: 60vw;
    }
}

.setting {
    align-self: flex-end;
    padding-top: 20px;
    span {
        font-size: 13px;
    }
}

.type {
    display: inline;
    margin-left: 5px;
    font-size: 17px;
    color: #444;
}

.results-wrapper {
    display: flex;
    &-list {
        flex-direction: column;
        align-items: center;
    }
    &-card {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .summary {
        width: 100%;
        padding: 40px;
        text-align: center;
    }
}

.result {
    display: flex;
    align-items: center;
    &-list {
        width: 85%;
        padding: 20px 25px;
        border-bottom: 1px solid #888;
    }
    &-card {
        flex-direction: column;
        flex-basis: 250px;
        margin-top: 40px;
    }
    &-inner-wrapper {
        &-list {
            display: flex;
            align-items: center;
            width: 100%;
            img {
                width: 110px;
                margin-right: 20px;
                flex-shrink: 0;
            }
        }
        &-card {
            position: relative;
            overflow: hidden;
            box-shadow: 2px 3px 10px rgba(0, 0, 0, .5);
            cursor: pointer;
            &:hover .info-card {
                transform: translateY(-100%);
            }
            img {
                width: 170px;
                display: block;
            }
        }
    }
    .info {
        flex-shrink: 1;
        margin-right: 20px;
        width: 390px;
        &-card {
            position: absolute;
            left: 0;
            top: 100%;
            width: 170px;
            padding: 5px 10px;
            background-color: rgba(34, 34, 34, .7);
            color: #fff;
            transition: all .5s;
        }
    }
    ul {
        list-style: none;
        padding-left: 0;
        li {
            margin-bottom: 2px;
            font-size: 13px;
            &:nth-child(1) {
                font: {
                    family: 'Gothic A1', sans-serif;
                    size: 16px;
                    weight: 700;
                };
            }
            &:nth-child(2) {
                font-weight: 700;
            }
        }
    }
    .naver-link {
        flex-shrink: 0;
        width: 100px;
        border: 1px solid #888;
        padding: 2px 4px;
        font-size: 13px;
        &:hover {
            border: 1px solid $point;
            color: $point;
        }
    }
}

.no-more-data-alert {
    width: 100%;
    padding: 80px 0 100px 0;
    text-align: center;
}

.arrow {
    position: fixed;
    margin-top: 400px;
    text-align: center;
    transition: opacity .3s;
    &-list {
        align-self: flex-end;
        margin-left: 130px;
    }
    &-card {
        margin-left: 500px;
    }
    .fa-arrow {
        font-size: 40px;
        color: #aaa;
    }
    &:hover .fa-arrow {
        color: $point;
        transform: translateY(-20px);
        transition: all .4s ease;
    }
}

a {
    text-decoration: none;
    color: #000;
}

.selected {
    color: $point;
}

.pointer {
    cursor: pointer;
}

.mt {
    margin-top: 43px;
}

.invisible {
    display: none;
}

.invisible-effect {
    opacity: 0;
}
